* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

#game-over-window {
    position: absolute;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    z-index: 99999;
    border-radius: 20px;
    box-shadow: black 3px 3px 11px 3px;
}

#game-over-window img {
    height: 150px;
}
#b1{

}
#b1 {
    height: 40px;
    width: 60px;
    background-image: url('../img/assets/play.png');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    /* Add other styles as desired */
}

.touch{
    background: blue;
}
#btn-play{
    background: red;
}
#btn-play:hover {
    opacity: 0.8;
    scale:1.1;
}

#background {
    width: 90vw;
    height: 90vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
    position: relative;
    overflow: hidden;
}

.box-player {
    position: absolute;
    width: 120px;
    height: 120px;
    /* background-image: url('../img/Idle\ \(1\).png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    bottom: 70px;
    left: 75px;
    transform:translateX(-50%);
    /* visibility: visible; */
}
.box-enemy {
    position: absolute;
    width: 120px;
    height: 120px;
    /* background-image: url('../img/Idle\ \(1\).png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    bottom: 70px;
    left: 75px;
    transform:translateX(-50%);
}